### Listas

In [2]:
# criando uma lista
lista_mercado = ['abacaxi', 'banana', 'laranja', 'uva', 'pera', 'maçã']

In [3]:
# imprimindo a lista
lista_mercado

['abacaxi', 'banana', 'laranja', 'uva', 'pera', 'maçã']

In [4]:
# criando outra lista
lista_mercado2 = ['ovos, leite, feijão']

In [5]:
lista_mercado2

['ovos, leite, feijão']

In [6]:
# lista 1 é uma lista com 6 elementos
# lista 2 é uma lista com 1 elemento

In [7]:
# imprimindo o tamanho das listas
print(len(lista_mercado))
print(len(lista_mercado2))

6
1

In [8]:
# primeiro elemento da lista
lista_mercado2[0]

'ovos, leite, feijão'

In [9]:
# ultimo elemento da lista
lista_mercado[0]

'abacaxi'

In [18]:
# atribuindo tipos diferentes de dados para as listas
lista_3 = [12, 100.05, "oi", True, False, [1, 2, 3]]

In [19]:
print(lista_3)

[12, 100.05, 'oi', True, False, [1, 2, 3]]

In [20]:
# atribuindo valores para as listas
item_1 = lista_3[0]
item_2 = lista_3[1]
item_3 = lista_3[2]

In [21]:
print(item_1, item_2, item_3)

12 100.05 oi

#### Atualizando uma lista

In [22]:
lista_mercado[2]

'laranja'

In [23]:
# atualizando o 3 elemento da lista
lista_mercado[2] = 'limão'

In [24]:
lista_mercado

['abacaxi', 'banana', 'limão', 'uva', 'pera', 'maçã']

#### Deletando um item da lista

In [25]:
del lista_mercado[6]

IndexError: list assignment index out of range

In [26]:
# não é possível deletar um elemento fora do indice de uma lista

In [27]:
del lista_mercado[2]

In [28]:
lista_mercado

['abacaxi', 'banana', 'uva', 'pera', 'maçã']

#### Lista de listas (listas aninhadas)

In [29]:
# lista de listas (matriz)

In [30]:
# criando uma lista de listas
listas = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
listas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
# atribuindo valor para a lista
a = listas[0]

In [33]:
a

[1, 2, 3]

In [34]:
b = a[0]

In [35]:
b

1

In [36]:
list_1 = listas[1]

In [37]:
list_1

[4, 5, 6]

In [38]:
valor_1_0 = list_1[0]

In [39]:
valor_1_0

4

In [40]:
valor_1_2 = list_1[2]

In [41]:
valor_1_2

6

In [42]:
list_2 = listas[2]

In [43]:
list_2

[7, 8, 9]

#### Operações com listas

In [44]:
listas

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [45]:
# atribuindo valores para uma variavel
a = listas[0][0]

In [46]:
a

1

In [47]:
b = listas[1][2]

In [48]:
b

6

In [51]:
c = listas[0][2] + 10

In [53]:
listas[0][2]

3

In [52]:
c

13

In [54]:
d = 10

In [55]:
d

10

In [56]:
e = d * listas[2][0]

In [57]:
e

70

#### Concatenando listas

In [58]:
lista_s1 = [12, 13, 14]

In [59]:
lista_s1

[12, 13, 14]

In [60]:
lista_s2 = [15, 16, 17]

In [61]:
lista_s2

[15, 16, 17]

In [62]:
# concatenando as listas
lista_total = lista_s1 + lista_s2

In [63]:
lista_total

[12, 13, 14, 15, 16, 17]

#### Operador in

In [64]:
# criando uma lista
lista_teste_op = [10, 20, -10, -10.4]

In [65]:
# verificando se o valor está na lista
print(20 in lista_teste_op)

True

In [66]:
print(30 in lista_teste_op)

False

#### Funcoes built-in

In [67]:
# funcao len() retorna o tamanho da lista
len(lista_teste_op)

4

In [69]:
# funcao min() retorna o menor valor da lista
min(lista_teste_op)

-10.4

In [70]:
# funcao max() retorna o maior valor da lista
max(lista_teste_op)

20

In [71]:
# funcao sum() retorna a soma dos valores da lista
sum(lista_teste_op)

9.6

In [73]:
# criando uma nova lista
nova_lista = ['ovos', 'leite', 'feijão', 'arroz', 'feijoada']

In [74]:
# adcionando um elemento na lista
nova_lista.append('pera')

In [75]:
nova_lista

['ovos', 'leite', 'feijão', 'arroz', 'feijoada', 'pera']

In [76]:
# adcionando um elemento na lista
nova_lista.append('pera')

In [77]:
nova_lista

['ovos', 'leite', 'feijão', 'arroz', 'feijoada', 'pera', 'pera']

In [78]:
# criando uma nova lista vazia
a = []

In [79]:
print(a)

[]

In [80]:
type(a)

list

In [81]:
a.append('abacaxi')

In [82]:
a

['abacaxi']

In [83]:
a.append(10)

In [84]:
a

['abacaxi', 10]

In [85]:
old_list = [1, 2, 3, 4, 5]

In [86]:
new_list = []

In [87]:
# copiando valores da lista old_list para a nova_lista
for item in old_list:
    new_list.append(item)

In [89]:
new_list

[1, 2, 3, 4, 5]

In [90]:
c= [20, 30]

In [91]:
c.append(40)

In [92]:
c.append(50)

In [93]:
c

[20, 30, 40, 50]

In [94]:
c.count(40)

1

In [106]:
cidades = ['são paulo', 'rio de janeiro', 'belo horizonte', 'salvador', 'brasília']
cidades.extend(['recife', 'maceió'])
print(cidades)

['são paulo', 'rio de janeiro', 'belo horizonte', 'salvador', 'brasília', 'recife', 'maceió']

In [107]:
cidades.index('rio de janeiro')

1

In [108]:
cidades.index('manaus')

ValueError: 'manaus' is not in list

In [109]:
# inserindo um elemento na lista
cidades.insert(2, 'curitiba')

In [110]:
cidades

['são paulo',
 'rio de janeiro',
 'curitiba',
 'belo horizonte',
 'salvador',
 'brasília',
 'recife',
 'maceió']

In [111]:
cidades.insert(0, 100)

In [112]:
cidades

[100,
 'são paulo',
 'rio de janeiro',
 'curitiba',
 'belo horizonte',
 'salvador',
 'brasília',
 'recife',
 'maceió']

In [113]:
# removendo um elemento da lista
cidades.remove(100)

In [114]:
cidades

['são paulo',
 'rio de janeiro',
 'curitiba',
 'belo horizonte',
 'salvador',
 'brasília',
 'recife',
 'maceió']

In [116]:
x = [4, 3, 2, 1]

In [117]:
x

[4, 3, 2, 1]

In [118]:
# ordenando a lista
x.sort()

In [119]:
x

[1, 2, 3, 4]

### FIM