### Criando o sqlite

In [1]:
# import manipulação do sistema
import os 

# remove o banco de dados caso exista
os.remove('arquivos/escola.db') if os.path.exists('arquivos/escola.db') else None

In [2]:
# import modulo sqlite3 python
import sqlite3

In [3]:
# cria a conexão com o banco de dados
# caso não exista, ele cria o banco de dados
con = sqlite3.connect('arquivos/escola.db')

In [4]:
# tipo da conexão
type(con)

sqlite3.Connection

In [5]:
# cria o cursor
# cursor é o objeto que executa as instruções SQL percorre o banco de dados
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
# criando uma instrução SQL
# comando DDL (Data Definition Language)
sql_create = 'CREATE TABLE cursos ' \
                   '(id INTEGER PRIMARY KEY, ' \
                   'titulo VARCHAR(100), ' \
                   'categoria VARCHAR(140))'

In [8]:
sql_create

'CREATE TABLE cursos (id INTEGER PRIMARY KEY, titulo VARCHAR(100), categoria VARCHAR(140))'

In [9]:
# primeira execução da instrução SQL
cur.execute(sql_create)

In [10]:
# inserindo dados na tabela
sql_insert = 'INSERT INTO cursos VALUES (?, ?, ?)'

In [11]:
# dados
recset = [(1000, 'Python', 'Programação'),
          (1001, 'Java', 'Programação'),
          (1002, 'C#', 'Programação'),
          (1003, 'C++', 'Programação'),
          (1004, 'PHP', 'Programação'),
          (1005, 'Ruby', 'Programação'),
          (1006, 'JavaScript', 'Programação'),
          (1007, 'Swift', 'Programação'),
          (1008, 'C', 'Programação'),
          (1010, 'Ciencia de dados', 'Data science'),
          (1011, 'Big Data', 'Data science'),
          (1012, 'Python', 'Data science'),]

In [12]:
# inserindo dados em um loop
# cada dado uma inserção
for rec in recset:
    cur.execute(sql_insert, rec)

In [13]:
# gravando dados no banco de dados
con.commit()

In [14]:
# consultando dados usando uma instrução SQL
sql_select = 'SELECT * FROM cursos'

In [15]:
# executando a instrução SQL
cur.execute(sql_select)

# salvando o resultado da consulta
dados = cur.fetchall()

In [16]:
# listar os dados usando um loop
for linha in dados:
    print(f'Curso Id: {linha[0]}, Titulo: {linha[1]}, Categoria: {linha[2]}')

Curso Id: 1000, Titulo: Python, Categoria: Programação
Curso Id: 1001, Titulo: Java, Categoria: Programação
Curso Id: 1002, Titulo: C#, Categoria: Programação
Curso Id: 1003, Titulo: C++, Categoria: Programação
Curso Id: 1004, Titulo: PHP, Categoria: Programação
Curso Id: 1005, Titulo: Ruby, Categoria: Programação
Curso Id: 1006, Titulo: JavaScript, Categoria: Programação
Curso Id: 1007, Titulo: Swift, Categoria: Programação
Curso Id: 1008, Titulo: C, Categoria: Programação
Curso Id: 1010, Titulo: Ciencia de dados, Categoria: Data science
Curso Id: 1011, Titulo: Big Data, Categoria: Data science
Curso Id: 1012, Titulo: Python, Categoria: Data science

In [17]:
# inserindo mais registros
recset = [(1013, 'Gestão de Dados', 'Big Data'),
          (1014, 'R', 'Analise de Dados')]

# inserindo dados em um loop
for rec in recset:
    cur.execute(sql_insert, rec)
    
# gravando dados no banco de dados
con.commit()

In [18]:
# selecionando dados usando a instrução SQL diretamente
cur.execute('SELECT * FROM cursos')

# recuperando os dados
recset = cur.fetchall()

# visualizando os dados
for l in recset:
    print(f'Curso Id: {l[0]}, Titulo: {l[1]}, Categoria: {l[2]}')

Curso Id: 1000, Titulo: Python, Categoria: Programação
Curso Id: 1001, Titulo: Java, Categoria: Programação
Curso Id: 1002, Titulo: C#, Categoria: Programação
Curso Id: 1003, Titulo: C++, Categoria: Programação
Curso Id: 1004, Titulo: PHP, Categoria: Programação
Curso Id: 1005, Titulo: Ruby, Categoria: Programação
Curso Id: 1006, Titulo: JavaScript, Categoria: Programação
Curso Id: 1007, Titulo: Swift, Categoria: Programação
Curso Id: 1008, Titulo: C, Categoria: Programação
Curso Id: 1010, Titulo: Ciencia de dados, Categoria: Data science
Curso Id: 1011, Titulo: Big Data, Categoria: Data science
Curso Id: 1012, Titulo: Python, Categoria: Data science
Curso Id: 1013, Titulo: Gestão de Dados, Categoria: Big Data
Curso Id: 1014, Titulo: R, Categoria: Analise de Dados

In [19]:
# fechando a conexão
con.close()

### FIM