### Leitura de dados SELECT

In [2]:
import sqlite3
import random
import time
import datetime

# conexão
conn = sqlite3.connect('arquivos/banco.db')

# cursor
c = conn.cursor()

# criando tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'product_name TEXT, value REAL)')
    
# inserindo dados
def data_insert():
    c.execute("INSERT INTO produtos VALUES ('2022-01-01 12:50:21', 'Teclado', 130.00)")
    
    # commitando alterações
    conn.commit()
    
    # fechando o cursor
    c.close()
    
    # fechando a conexão
    conn.close()

def data_insert_var():
    new_date = datetime.datetime.now()
    new_product_name = 'Mouse'
    new_value = random.randrange(50, 100)
    c.execute('INSERT INTO produtos (date, product_name, value) VALUES (?, ?, ?)', (new_date, new_product_name, new_value))
    
    # commitando alterações
    conn.commit() 

# leitura de dados    
def leitura_todos_dados():
    c.execute('SELECT * FROM produtos')
    for row in c.fetchall():
        print(row)
        
# leitura de colunas especificas
def leitura_registros():
    c.execute('SELECT * FROM produtos WHERE value > 60.0' )
    for row in c.fetchall():
        print(row)


def leitura_colunas():
    c.execute('SELECT * FROM produtos' )
    for row in c.fetchall():
        # row[0] = id
        # row[1] = date
        # row[2] = product_name
        # row[3] = value
        print(row[3])

In [3]:
# select dados
leitura_todos_dados()

(10, '2020-01-01', 'Teclado', 90.0)
(11, '2022-07-17 11:06:55.244191', 'Mouse', 88.0)
(12, '2022-07-17 11:06:56.350611', 'Mouse', 63.0)
(13, '2022-07-17 11:06:57.467928', 'Mouse', 82.0)
(14, '2022-07-17 11:06:58.599357', 'Mouse', 90.0)
(15, '2022-07-17 11:06:59.723686', 'Mouse', 79.0)
(16, '2022-07-17 11:07:00.826980', 'Mouse', 74.0)
(17, '2022-07-17 11:07:01.929352', 'Mouse', 99.0)
(18, '2022-07-17 11:07:03.061314', 'Mouse', 64.0)
(19, '2022-07-17 11:07:04.189790', 'Mouse', 89.0)
(20, '2022-07-17 11:07:05.304668', 'Mouse', 59.0)

In [4]:
# dados especificos
leitura_registros()

(10, '2020-01-01', 'Teclado', 90.0)
(11, '2022-07-17 11:06:55.244191', 'Mouse', 88.0)
(12, '2022-07-17 11:06:56.350611', 'Mouse', 63.0)
(13, '2022-07-17 11:06:57.467928', 'Mouse', 82.0)
(14, '2022-07-17 11:06:58.599357', 'Mouse', 90.0)
(15, '2022-07-17 11:06:59.723686', 'Mouse', 79.0)
(16, '2022-07-17 11:07:00.826980', 'Mouse', 74.0)
(17, '2022-07-17 11:07:01.929352', 'Mouse', 99.0)
(18, '2022-07-17 11:07:03.061314', 'Mouse', 64.0)
(19, '2022-07-17 11:07:04.189790', 'Mouse', 89.0)

In [5]:
# leitura de coluna, apenas a coluna value
leitura_colunas()

90.0
88.0
63.0
82.0
90.0
79.0
74.0
99.0
64.0
89.0
59.0

In [6]:
# fechando a conexão
c.close()
conn.close()

### FIM